body{
    background-color: blue;
display: flex;
justify-content: center;
margin-top: 50px;
align-items: center;
}
#slider{
width: 70%;
display: flex;
justify-content: center;
margin-top: 50px;
align-items: center;
}

.img-slider{
    width: 100%;
}
.img-slider img{
    width: 100%;
    display: none;
}
.img-slider img:nth-child(1){
    display: block;
}
#slider button{
    cursor: pointer;
    background-color: grey;
    color: white;
    display: inline-block;
    padding: 15px;
}